<nav>
  <div class="nav-logo">MapWiki</div>
  <div class="nav-prompt">
    <div class="login">Login</div>
    <div class="register">Register</div>
    <div class="get-maps">Your <strong>MAPS</strong></div>
  </div>
</nav>
