<link rel="stylesheet" href="/styles/map.css" type="text/css" />

<div class="user-maps-list">
  <div>
    <% if (locals.maps) { %>
      <ul id="map-list">
        <% maps.map(function(map, i){ %>
          <li>
          <% console.log('inside ejs', map.title) %>

           <%- `<a class='map-list-item'>${map.title}</a>` %>
          </li>
          <% }); %>
        </ul>
    <% } else { %>
    <ul id="map-list">
    </ul>
    <% } %>
  </div>
  <div>
    <h4 class="coord-title-heading">Whats The Place Called?</h4>
    <input class="coord-title-input" type="text" required="" placeholder="Add Coord Description">
  </div>
</div>
