<div class="new-map-container">
<form action="POST" method="/maps">
  <input type="text" name="title" placeholder="Name your map!" required="">
  <input type="text" name="description" placeholder="What's this map about?" required="">
</form>
</div>
