
<div class="new-map-container">
<form action="/maps" method="POST">
  <input type="text" name="title" placeholder="Name your map!" required="">
  <input type="text" name="description" placeholder="What's this map about?" required="">
  <button>Add Map</button>
</form>
</div>
