
<div class="new-map-container">
  <form action="/create_map" method="POST">
    <input type="text" name="title" placeholder="Name your map!" >
    <input type="text" name="description" placeholder="What's this map about?">
    <button>Add Map</button>
  </form>


  <form action="/user_maps" method="POST">
    <input type="text" name="title" placeholder="Get Your Maps!" required="">
    <button>User Maps</button>
  </form>

  <form action="/fav_maps" method="POST">
    <input type="text" name="title" placeholder="Get Your Fav Maps!" required="">
    <button>Fav Maps</button>
  </form>

  <form action="/search_map" method="POST">
    <input type="text" name="title" placeholder="Search For Map!" required="">
    <button>Search Maps</button>
  </form>


</div>
