<div class="users-maps-container">
  <form action="/coords" method="POST">
    <input type="text" name="title" placeholder="Map Name" required="">
    <button>GET MAP WITH COORDS</button>
  </form>
  </div>
