<!DOCTYPE html>
<html lang="en">

<head>
  <title>MapWiki, the free location encyclopedia</title>


  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />


  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>


</head>


<%- include('partials/header') %>

<body>
  <div class="map-container">
    <div class="map-options-container">
      <%- include('partials/map-options') %>
    </div>
  <div class="map-and-list">
    <div id="map"></div>
    <%- include('partials/map') %>
  </div>
</div>
  <%- include('partials/footer') %>
</body>
</html>
