html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: pink;
}

.map-container {
  display: flex;
  align-items: center;
  padding: 1em;
}

#map {
  height: 50vh;
  width: 50vh;
  margin: auto;
}

.info {
  height: 40vh;
  border-radius: 10px;
  background-color: rgba(60, 60, 60, 0.16);
  font-weight: 400;
  color: rgb(41, 41, 41);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  margin: auto;
  padding: 1em;
  font-family: 'Lato', sans-serif;
}

.map-spots {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.spot {
  padding: 1em;
}
