

.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#map {
  height: 50vh;
  width: 50vh;
  margin: auto;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
