
.user-maps-list {

  height: 10em;
  width: 25em;
  background-image: linear-gradient(to bottom right,#e61e07 0%, #ff6817 74%);
  // background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38");
  box-shadow: 5px 20px 50px rgba(0, 0, 0, 0.776);
  font-weight: 400;
  word-break: break-word;
  font-family: 'Lato', sans-serif;
  border-radius: 1em;
  border: 2px solid hsl(261, 40%, 39%);
  ul {
    li {
      list-style-type: none;
    }
  }


}
